<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>About Us</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    
</head> 

<body>

<%= render "header"%>  

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">About Us</h1>
        <!-- <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Pages</a></li>
            <li class="active">Contacts</li>
        </ul> -->
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row margin-bottom-30">
    	<div class="col-md-6 md-margin-bottom-40">
            <p>Potatoes, onions and Maize are the gift of God. Pakistani soil is very lucky to have a very conductive climatic condition to grow Vegetables as well as Maize of different tastes, colors and nature.
 HMZ Food Industries is the most fortunate company of Pakistan, which excels in growing, production, processing and exporting Fresh potatoes, onions and Maize to various parts of the world.
 
HMZ Food Industries are the leading exporters of Fresh Vegetables to the Central Asian States, Russian Fedration, Europe, Far East, Middle East, Sri-Lanka, 
Afghanistan. The specialty of HMZ Food Industries is its trade in Potatoes, Onions and Yellow Maize.
 
Honesty, Hard working and sincerity are the landmark of HMZ Food Industries.
 <blockquote>
    <p>HMZ Food Industries was initially established in 2000 with the name of Sabir Niaz Traders in grain market and Abid Fiaz and co. in Fruit and Vegetables market. 
And it mainly focused in growing, packing and transportation of fresh potatoes to the various parts of Pakistan.</p>
</blockquote>

 
<p>We have our own agricultural land that is used for the growing of potatoes, onions and yellow maize.
Later on HMZ Food Industries was incorporated in 2012 with New cold stores having huge storage capacity of  goods,
 Processing Unit, Packing Facility, equipped with Latest high Technology were constructed and 
installed at it at our head office Arifwala, Pakpattan Distt.
</p>
 
<blockquote> 
<p>Our head office is at Lahore and we are investing huge amount in millions to export fresh and standard 
quality potatoes. This enables HMZ Food Industries to multiply its products and exports of Fresh potatoes 
in an easy way and in excellent conditions. Exports of Fresh potatoes of HMZ Food Industries are increasing 
in leaps and bounds and in the year 2012.</p>
</blockquote>
 
HMZ Food Industries has exported its fresh potatoes, onions and maize to Central Asian states through land routs since 5/6 years and it is the specialty of HMZ Food Industries that its products reached
 in the hands of CAS Fresh and in Excellent Condition.
 <p>
HMZ Food Industries has exported its fresh potatoes, onions and maize to Central Asian states through land routs
 since 2/3 years and it is the specialty of HMZ Food Industries that its products reached in the hands of CAS Fresh
 and in Excellent Condition.
HMZ Food Industries has keeps its tradition, with the increase in exports HMZ Food Industries has also expanded its 
structure of Arifwala, Pakpattan Distt. Also installed a new Processing and packing Unit in Arifwala to compete the
 demand of potatoes. HMZ Food Industries are equipped with the latest production techniques, latest machinery, trained 
manpower and own facility of cold storage. In early 2012 HMZ Food Industries has also launched their own Potato processing
facility at Arifwala, Pakpattan Distt.

 </p>
            <!-- Blockquotes -->
            <blockquote>
                <p>HMZ Food Industries has also expanded its network and is dealing in export of some other best quality Fresh vegetables and rice available in Pakistan.</p>
            </blockquote>
        </div>

    	<div class="col-md-6 md-margin-bottom-40">
            <div>
               <!--  <iframe src="http://player.vimeo.com/video/9679622" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>  -->
                <img class="img-responsive margin-bottom-20" src="/assets/machine.jpg" alt="" />
            </div>
        </div>
    </div><!--/row-->

	<!-- Meer Our Team -->
	<div class="headline"><h2>Meet Our Team</h2></div>
    <div class="row team">
        <div class="col-sm-3">
            <div class="thumbnail-style">
                <img class="img-responsive" src="/assets/new/ceo4.jpg" alt="" style="height:225px;" />
                <h3><a>Hafiz Muhammad Zahid</a> <small>Chief Executive Officer</small></h3>
                <p>World is a global village, you can find whatever you want as per your requirement but the best thing is to know what actually your requirement is ! <br/>We shall meet your requirement and avaluate what actually you want.</p>
            </div>
        </div>
<!--  -->
        <div class="col-sm-3">
            <div class="thumbnail-style">
                <img class="img-responsive" src="/assets/new/abid1.png" alt="" style="height:225px;"/>
                <h3><a>Muhammad Abid</a> <small>Marketing & Sales Manager</small></h3>
                <p>We build strong business relationship,
                     maintain quality, focus on customer 
                    requirement
                    , deliver products on time. That's what
                     a business demand.
                     We shall fulfill your demands.</p>
            </div>
        </div>
    </div><!--/team-->
	<!-- End Meer Our Team -->

</div><!--/container-->		
<!--=== End Content Part ===-->
<%= render "footer"%>
<!-- JS Global Compulsory -->           
<script type="text/javascript" src="/assets/hover-dropdown.min.js"></script>
<script type="text/javascript" src="/assets/back-to-top.js"></script>
<script type="text/javascript">
    // jQuery(document).ready(function() {
    //     App.init();
    //     App.initSliders();        
    // });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
<![endif]-->

</body>
</html> 