<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Subhanllah Group| Welcome...</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head>	

<body>
   
 <%#= render "header"%> 
<!--/header-->
<!--=== End Header ===-->    

<!--=== Slider ===-->

<!--=== Content Part ===-->
<div class="container">	
        <h1 style="margin-left: 35%;margin-top: 20%;">Coming Soon</h1>

</div><!--/container-->		
<!-- End Content Part -->

<%#= render "footer"%>

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="assets/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="assets/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="assets/back-to-top.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="assets/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="assets/bxslider/jquery.bxslider.js"></script>
<script type="text/javascript" src="assets/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="assets/app.js"></script>
<script type="text/javascript" src="assets/pages/index.js"></script>


</body>
</html>	
