<!DOCTYPE html>

    <div id="content" class="col-md-9 col-sm-9 col-xs-12">
      <div class="row carousel-holder">
        <div class="col-md-12">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                  <div class="item active">
                      <img class="slide-image" src="/assets/maxresdefault.jpg" class="img-responsive" alt="">
                  </div>
                  <div class="item">
                      <img class="slide-image" src="/assets/slider2.jpg" class="img-responsive" alt="">
                  </div>
                  <div class="item">
                      <img class="slide-image" src="/assets/slider4.jpg" class="img-responsive" alt="">
                  </div>
              </div>
              
            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                 <img class="slide-image" src="/assets/product-img1.jpg" class="img-responsive" alt="">


                <div class="caption">
                <strong>Lathe Machine</strong>
                    <p>BED WIDTH 500 600 660 760 900 1050</p>
                    <p>CENTER HEIGHT 450 500 600 700 800 925</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img class="slide-image" src="/assets/4.jpg" class="img-responsive" alt="">
                <div class="caption">
                    <strong>Grinding Machine</strong>
                    <p>Table size overall   965 x 210   910 x 280</p>
                    <p>Working surface table   525 x 205   650 x 260</p>
                    <p>Grinding capacity   500 x 200   600 x 250</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
               <img class="slide-image" src="/assets/p3.jpg" class="img-responsive" alt="">
                <div class="caption">
                    <strong>Welding Machine</strong>
                    <p>APPLICATIONS :
                        Include upset butt welding of all profiles of wires and flats of iron, steel, alloy and carbon steel, copper, aluminium, brass and other light metals and their alloys.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img class="slide-image" src="/assets/p4.jpg" class="img-responsive" alt="">
                <div class="caption">
                    <strong>Universal Gear Hobing Machine</strong>
                    <p>Gear Hobbing Machine model V-300 is designed for the production of precision Spur, Helical, Worm Gears, Splines, Sprockets, Rachet Wheels & any other form that can be hobbed.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img class="slide-image" src="/assets/p5.jpg" class="img-responsive" alt="">
                <div class="caption">
                    <strong>Sheet Metal Machine</strong>>
                    <p>The Plate and Section Shearing Machines 5S / 13R are versatile in application. The welded construction gives well defined passages for letting sheets and plates pass during shearing operations. A hand pin connects the pair of lever slides with the blade slide. The connection is effected by the insertion of the hand pin in the rear hole for shearing full capacity materials and in the front hole for shearing lighter materials.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <h4><a href="#">Like this template?</a>
            </h4>
            <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
            <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
        </div>
      </div>
    </div>
  

<%#= render "footer"%>

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="assets/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script> 
<!-- JS Implementing Plugins -->           
<!-- JS Page Level -->           
<script type="text/javascript" src="assets/app.js"></script>
<script type="text/javascript" src="assets/owl.carousel.js"></script>
<script type="text/javascript" src="assets/pages/index.js"></script>


</body>
</html>	
