<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    
</head> 

<body>
   

<!--=== Header ===-->    
<%= render "header"%>
<!--/header-->
<!--=== End Header ===-->    

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">Yellow Maze</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container blog-page blog-item">     
    <!--Blog Post-->        
    <div class="blog margin-bottom-40">
        <!-- <div class="blog-img">
            <img class="img-responsive" src="assets/img/sliders/revolution/bg8.jpg" alt="">
        </div> -->
         <div class="col-md-7">
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="/assets/main/17.jpg">
                    </div>
                    <div class="item">
                        <img alt="" src="/assets/main/18.jpg">
                        
                        </div>
                    <div class="item">
                        <img alt="" src="/assets/main/19.jpg">
                        
                    </div>
                </div>
                
                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                        <i><</i>
                    </a>
                    <a data-slide="next" href="#myCarousel" class="right carousel-control">
                        <i >></i>
                    </a>
                </div>
            </div>
        </div>
        <br/>
        <h2><a href="blog_item_option1.html">Maize is a main staple food throughout the world but
 in particular Asia, Africa and Latin America.</a></h2>

        <p>
         This 
is also is used as feed in developed countries. Maize
 usages are many such as in food it is used for Flour,
 Syrup, grain and oil while non-food usages are in 
adhesives, paints, varnishes and cosmetics. Starch 
and oil is also its derivatives.

        <p>Maize is also used as feed for livestock and it can be
fed whole, grazed, chopped and ensiled. After the Harvest,
animals can graze the leaves and stalks left in the field.
There are many by-products of the maize like bran, germs, 
oil meal and hominy feed. The starch such as corn gluten feed,
and corn meal is also produced. Alcohol or biofuel is also extracted 
through distillers and dried grains, soluble can be fed to the animals.
         </p>
         
        <br/><br/><br/><br/>
<br/><br/>        <blockquote>
            <p>Maize is widely used as food/feed and provides raw material for food industrY
            in Pakistan. Pakistan Maize offers best opportunity for converting vegetable protein
            into animal protein. The use of maize in poultry and livestock feed industry is quite
            popular as compared to other cereal i.e. wheat and rice (broken) which are available at
            higher prices.</p>
        </blockquote>                
    </div>

    <div>
        <table class="table table-striped">
            <thead><th class="success">Natural Specifications</th><th class="success"></th></thead>
            <tbody>
                <tr>
                    <td>Moisture</td>
                    <td>13% MAx</td>
                </tr>
                <tr>
                    <td>Foreign Matter</td>
                    <td>2% Max</td>
                </tr>
                <tr>
                    <td>Weevil Led Seeds</td>
                    <td>2% Max</td>
                </tr>
                <tr>
                    <td>Damaged Otherwise</td>
                    <td>5% Max</td>
                </tr>
                <tr>
                    <td>Colored Seeds</td>
                    <td>2% Max</td>
                </tr>
                <tr>
                    <td>Admixture</td>
                    <td>2% Max</td>
                </tr>
                <tr>
                    <td>Broken</td>
                    <td>3% Max</td>
                </tr>
                <tr>
                    <td>Aflatoxin</td>
                    <td>Max. 30 P.P.M.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--End Blog Post-->        
</div><!--/container-->     
<!--=== End Content Part ===-->

<!--=== Footer ===-->
    <%= render "footer"%>
<!--/footer-->    
<!--=== End Footer ===-->
<script type="text/javascript" src="/assets/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/assets/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/assets/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="/assets/back-to-top.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="/assets/bxslider/jquery.bxslider.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/assets/js/app.js"></script>
<!-- JS Global Compulsory -->           
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/respond.js"></script>
<![endif]-->

</body>
</html> 