<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Unify | Welcome...</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    
</head> 

<body>
   

<!--=== Header ===-->    
<%= render "header"%>
<!--/header-->
<!--=== End Header ===-->    

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">Potato</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container blog-page blog-item">     
    <!--Blog Post-->        
    <div class="blog margin-bottom-40">
        <!-- <div class="blog-img">
            <img class="img-responsive" src="assets/img/sliders/revolution/bg8.jpg" alt="">
        </div> -->
         <div class="col-md-7">
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="/assets/main/11.jpg">
                    </div>
                    <div class="item">
                        <img alt="" src="/assets/main/12.jpg">
                        
                        </div>
                    <div class="item">
                        <img alt="" src="/assets/main/13.jpg">
                        
                    </div>
                </div>
                
                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                        <i><</i>
                    </a>
                    <a data-slide="next" href="#myCarousel" class="right carousel-control">
                        <i >></i>
                    </a>
                </div>
            </div>
        </div>
        <br/>
        <h2><a href="blog_item_option1.html">HMZ Food Industries have installed the potato grading equipement along with potato cleaning setup in Arifwala, Pakpattan.</a></h2>

        <p>
        Grading Plant can process up to 35 ton potato per hour.          
        We have own ware house as well as cold storages with the capacity up 
        to 3000 ton potato.

        <p>Pakistan has exported 75,000 tons of potatoes.
         Pakistan is expected to harvest around three 
        million tons of potato this season as against
         2.3 million tons last year and after meeting
         domestic demand of around 1.5 million tons, 
        a surplus of around 1.5 million tons will be 
        available for export.
         </p>
         <p>
        We can provide fresh Red and White Potatoes 
        from our growing areas in Arifwala near 210 KM
        Lahore.
        The potatoes are broadly categorized into red
        skinned and white skinned. It is almost a 
        native crop to Pakistan. A number of potato
         varieties have been introduced in Pakistan
         from time to time, mainly originated from Holland.
     </p>
        <br/><br/>
        <blockquote>
            <p>Packaging & Delivery

        Packaging Detail:
        As per requirement

        Delivery Detail: within 10 days after conformation of deal</p>
        </blockquote>                
    </div>
    <!--End Blog Post-->        
</div><!--/container-->     
<!--=== End Content Part ===-->

<!--=== Footer ===-->
    <%= render "footer"%>
<!--/footer-->    
<!--=== End Footer ===-->
<script type="text/javascript" src="/assets/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/assets/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/assets/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="/assets/back-to-top.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="/assets/bxslider/jquery.bxslider.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/assets/js/app.js"></script>
<!-- JS Global Compulsory -->           
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/respond.js"></script>
<![endif]-->

</body>
</html> 