<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
   

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    
</head> 

<body>
   

<!--=== Header ===-->    
<%= render "header"%>
<!--/header-->
<!--=== End Header ===-->    

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">Rice</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container blog-page blog-item">     
    <!--Blog Post-->        
    <div class="blog margin-bottom-40">
        <!-- <div class="blog-img">
            <img class="img-responsive" src="assets/img/sliders/revolution/bg8.jpg" alt="">
        </div> -->
         <div class="col-md-7">
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="/assets/main/20.jpg">
                    </div>
                    <div class="item">
                        <img alt="" src="/assets/main/21.jpg">
                        
                        </div>
                    <div class="item">
                        <img alt="" src="/assets/main/22.jpg">
                        
                    </div>
                </div>
                
                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                        <i><</i>
                    </a>
                    <a data-slide="next" href="#myCarousel" class="right carousel-control">
                        <i >></i>
                    </a>
                </div>
            </div>
        </div>
        <br/>
        <h2><a href="blog_item_option1.html">Rice is one of the important condiments 
widely used in all household all the year round. Nature 
has given us many beneficial and useful plants to mankind.</a></h2>

<p>One such wonderful plant is rice. Rice is one of the 
oldest cultivated herbs.
According to the United Nations Food & Agriculture Organization,
 Pakistan is the fourth leading rice producing country now.
</p>
<p>
It is wonderful vegetable. It would have been a fruit if it had not
been pungent and full of sulphuric compound. It comes in varying shapes
and sizes; and has beneficial properties for health particularly being fat free
</p>
<p>
Recent research has suggested that rice in the diet may play a part in preventing
 heat disease and other ailments. rice bulb is rich in phosphorus, calcium and carbohydrates. 
The pungency in rice is due to a volatile oil know as 'allyl-propyl disulphide. Its taste is
 sweet and pungent. It is an appetizer and helps in digestion of food. 
        <br/><br/>
        <blockquote>
            <p>The green leaves, immature and mature bulbs are eaten raw or used in preparation of vegetables.
 rice are most often used to enhance flavors in a wide range of recipes , soups, sauces casseroles,
 stews salads and for seasoning foods. World rice production is estimated at approximately
 105 billion pounds each year. The average annual rice consumption calculates to approximately 13.67 pounds
 of rice per person across the world The small bulbs one pickled in vinegar.
</p>
        </blockquote>                
    </div>
    <!--End Blog Post-->        
</div><!--/container-->     
<!--=== End Content Part ===-->

<!--=== Footer ===-->
    <%= render "footer"%>
<!--/footer-->    
<!--=== End Footer ===-->
<script type="text/javascript" src="/assets/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/assets/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/assets/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="/assets/back-to-top.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="/assets/bxslider/jquery.bxslider.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/assets/js/app.js"></script>
<!-- JS Global Compulsory -->           
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/respond.js"></script>
<![endif]-->

</body>
</html> 